#
# markdownify apache configuration, .htaccess inspired by drupal, see http://drupal.org
#

# Set some options.
Options -Indexes
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.php

# Override PHP settings. More in sites/default/settings.php
# but the following cannot be changed at runtime.

# PHP 4, Apache 1
<IfModule mod_php4.c>
	php_value magic_quotes_gpc                0
	php_value register_globals                0
	php_value session.auto_start              0
</IfModule>

# PHP 4, Apache 2
<IfModule sapi_apache2.c>
	php_value magic_quotes_gpc                0
	php_value register_globals                0
	php_value session.auto_start              0
</IfModule>

# PHP 5, Apache 1 and 2
<IfModule mod_php5.c>
	php_value magic_quotes_gpc                0
	php_value register_globals                0
	php_value session.auto_start              0
</IfModule>