@charset "utf-8";

*{
	margin:0;
	padding:0;
	font:normal 1em "DejaVu Sans",Tahoma,Arial,sans-serif;
	text-decoration:none;
	border-collapse:collapse;
	border-spacing:0;
}
html, body {
	min-height: 100%;
	height: 100%;
	background:#eee;
 	color:#333;
}
/* constant scrollbar for gecko, to prevent "jumping" */
html[id]{
	padding-bottom:0.005em;
}
body{
	font-size:62.5%;
	line-height:100.1%;
	font-size:0.8em;
	min-width:100%;
}
#body {
	min-width:800px;
	padding:0 20px;
	min-height:100%;
	background:#fafafa;
}
a img {
	border:none;
}
a {
	color:red;
	text-decoration:none;
}
a:hover,a:focus {
	text-decoration:underline;
	color:#333;
}

h1 {
	padding:40px 0 40px 110px;
	font-size:2em;
	background:url(icons/markdownify.png) left center no-repeat;
}
h1 a {
	color:#333;
}
h2 {
	font-size:2em;
}
h3 {
	font-size:1.5em;
	margin:10px;
}
h4 {
	font-weight:bold;
}
p, pre {
	margin:0 20px 5px 20px;
}
pre {
	padding:0 10px;
}
ul, ol, dl {
	margin:0 40px 10px 40px;
}
ul pre, ol pre, dl pre {
	margin:0 0 5px 0;
}
ul li {
	list-style:outside square;
}
ol li {
	list-style:outside decimal;
}
li p {
	margin:0 0 5px 0;
}
dt {
	float:left;
	font-weight:bold;
	width:5em;
}
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
pre, code {
	font-family:"DejaVu Sans Mono", monospace;
}
#navigation {
	font-size:1.2em;
	margin:-20px 0 20px 10em;
}
#navigation li {
	float:left;
	list-style:none;
}
#navigation li a, #navigation li span {
	display:block;
	height:100%;
	padding:40px 5px 0 5px;
	background:top center no-repeat;
}
li#about a, li#about span {
	background-image:url(icons/help-contents.png);
}
li#demo a, li#demo span {
	background-image:url(icons/system-search.png);
}
li#download a, li#download span {
	background-image:url(icons/application-x-compressed-tar.png);
}
li#tracker a, li#tracker span {
	background-image:url(icons/applications-engineering.png);
}
li#svn a, li#svn span {
	background-image:url(icons/kexi.png);
}
li#sf a, li#sf span {
	background-image:url(http://sflogo.sourceforge.net/sflogo.php?group_id=204915&amp;type=3);
}
li#donate {
	padding-left:20px;
}
#footer {
	padding:10px 20px 2px 20px;
	font-size:0.8em;
	text-align:center;
	clear:both;
}
#aboutContent, form {
	max-width:900px;
}
fieldset {
	padding:2px 5px;
	margin:5px;
	border:none;
}
fieldset ul {
	margin:0 0 0 15px;
}
fieldset ul li {
	float:left;
	width: 100%;
}
legend {
	margin:0 5px;
	padding:0 5px;
	font-weight:bold;
	font-size:1.2em;
}
label {
	display:block;
	cursor:pointer;
	font-size:0.9em;
}
fieldset ul li input {
	float:right;
}
#input {
	float:left;
}
textarea {
	border:1px solid gray;
	margin:0;
}
#buttons {
	text-align:center;
}
table {
	width:100%;
	border-collapse:collapse;
}
.third {
	width:33%;
}
.third pre, .third code {
	white-space:pre-wrap;
}
td {
	vertical-align:top;
}
ins {
	background:green;
}
del {
	background:red;
}
span.change {
	background:yellow;
}
/**
 * clear
 **/

#navigation:after, form:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	width:0;
}